<div class="col-lg-8 mx-auto"> <!-- //mx-auto para centrarlo -->
    <div class="jumbotron" style="background-color: #b4cbf4">
      <h1>{{title}}</h1>
      <h3>{{lugar}}</h3>
      <h6>{{informacion}}</h6>
      <!-- <image src="./assets/img/fotoInicio1.jpg" > </image> -->
          <p align="center"><a class="btn btn-primary btn-lg" href="#" role="button" [routerLink] = "['/createPartido']">Crear partidos</a>
          <a class="btn btn-warning btn-lg" href="#" role="button" [routerLink] = "['/partidas']">Ver partidos</a></p>
          <p align="center"><a class="btn btn-success btn-lg" href="#" role="button" [routerLink] = "['/signin']">SignIn</a>
          <a class="btn btn-danger btn-lg" href="#" role="button" [routerLink] = "['/signup']">SignUp</a></p>
          <p align="center"><img src="assets/img/fotoInicio1.jpg" width="400px" height="300px"></p>
    </div>
</div>