.navigation.col-lg-18{
	  display: grid;
  place-content: center;
	margin-top: 100px;
	justify-content: center;
}

.jumbotron{
	padding: 50px;
	border-radius: 5px;
	box-shadow: 2px 2px 1px black;
}

.h2{
		  display: grid;
  place-content: center;
  justify-content:  center;
}