<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header" style="background-color: #b4cbf4">
                Añadir partida
            </div>
            <div class="card-body" style="background-color:#c8d8f4">
                <form (submit)="add()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="partido.dia" name="dia" class="form-control" placeholder="Día" required >
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="partido.mes" name="mes" class="form-control" placeholder="Mes" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="partido.ano" name="ano" class="form-control" placeholder="Año" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="partido.hora" name="hora" class="form-control" placeholder="Hora" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="partido.lugar" name="lugar" class="form-control" placeholder="Lugar" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="partido.dificultad" name="dificultad" class="form-control" placeholder="Dificultad" required>
                    </div>
                    <p></p>
                    <button class="btn btn-primary">
                        Añadir
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>